.popup__input-error {
  display: none;
  margin: 0;
  min-height: 34px;
  padding-top: 4px;
  color: rgba(255, 0, 0, 1);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  box-sizing: border-box;
}
