.element__trash-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/trash-button.svg);
  transition: scale 0.3s linear, opacity 0.3s linear;
}

.element__trash-button:hover {
  opacity: 0.6;
  scale: 1.3;
}