@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/button/button.css);
/* page */
@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);
/* Header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
/* Content */
@import url(./blocks/content/content.css);
/* Profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__edit-button-image/profile__edit-button-image.css);
@import url(./blocks/profile/__edit-button-image/_type/profile__edit-button-image_type_avatar.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__add-button-image/profile__add-button-image.css);
/* elements */
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__container/element__container.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-container/element__like-container.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/element/__trash-button/element__trash-button.css);
/* Footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
/* Popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_active/popup_active.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type/popup__title_type_delete-card.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);

/*  */

@import url(./blocks/button/_disabled/button_disabled.css);

/*  */

@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__close-button-image/popup__close-button-image.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
