.header {
  margin: 45px 0 40px;
  width: 100%;
  min-height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media (max-width: 425px) {
  .header {
    margin: 28px 0 42px;
    min-height: 56px;
  }
}
